In [1]:
import pandas as pd

In [3]:
apple = pd.read_csv('../../data/scraped-data/AAPL_daily_2025.csv')
apple.drop(apple.index[0], inplace=True)

In [4]:
apple.head()

,Date,Open,High,Low,Close,Volume
1,2025-01-02,248.3309608077005,248.5005651105234,241.23808511721737,243.26319885253906,55740700.0
2,2025-01-03,242.7743682861328,243.5923870862029,241.3079045417172,242.7743682861328,40244100.0
3,2025-01-06,243.72207367593157,246.73481040856498,242.61474424512696,244.41041564941406,45045600.0
4,2025-01-07,242.3952722906863,244.9590949760797,240.76920518354387,241.62713623046875,40856000.0
5,2025-01-08,241.33782978685954,243.12353076570005,239.47233471944105,242.11595153808594,37628900.0

In [5]:
apple['Date'] = pd.to_datetime(apple['Date'])
apple['Open'] = apple['Open'].astype(float)
apple['High'] = apple['High'].astype(float)
apple['Low'] = apple['Low'].astype(float)
apple['Close'] = apple['Close'].astype(float)
apple['Volume'] = apple['Volume'].astype(float)

In [6]:
apple_headlines = pd.read_csv('../../data/clean-data/apple-final-cleaned-headlines.csv')

In [7]:
apple_headlines.sample(5)

,date,company,cleaned_headline,sentiment,sentiment_score
41,2025-05-28,AAPL,tata sons feels the heat as tcs shrinks divide...,negative,0.960512
83,2025-05-27,AAPL,stock market today futures rally as trump dela...,negative,0.753099
126,2025-05-26,AAPL,warren buffetts top 5 positions make up 7046 o...,neutral,0.944953
124,2025-05-26,AAPL,trumps targeting of apple isnt random analyst ...,neutral,0.786649
117,2025-05-26,AAPL,week ahead bond yields in focus as usjapan div...,positive,0.682323

In [8]:
apple_headlines['date'] = pd.to_datetime(apple_headlines['date'])

In [9]:
reddit = pd.read_csv('../../data/clean-data/cleaned_reddit_v2.csv')
reddit.drop('Unnamed: 0', axis = 1, inplace = True)

In [10]:
reddit = reddit[reddit['tickers_mentioned'].str.contains('AAPL', na=False)]

In [11]:
reddit['date'] = pd.to_datetime(reddit['date'])

In [12]:
reddit['date'] = reddit['date'] + pd.Timedelta(days=1)
apple_headlines['date'] = apple_headlines['date'] + pd.Timedelta(days=1)

In [13]:
merged = pd.merge(
    apple,
    reddit,
    how='left',
    left_on='Date',
    right_on='date',
    suffixes=('', '_reddit')
)
merged.drop(columns=['date'], inplace=True)

In [14]:
merged = pd.merge(
    merged,
    apple_headlines,
    how='left',
    left_on='Date',
    right_on='date',
    suffixes=('', '_news')
)
merged.drop(columns=['date'], inplace=True)

In [15]:
merged.sort_values('Date', inplace=True)
merged.reset_index(drop=True, inplace=True)

In [16]:
merged['tickers_mentioned'] = 'AAPL'

In [17]:
merged.drop('company', axis = 1, inplace = True)

In [18]:
merged.to_csv('../../data/merged-data/apple-merged.csv', index=False)