In [1]:
import pandas as pd

In [56]:
tesla = pd.read_csv('../../data/scraped-data/TSLA_daily_2025.csv')
tesla.drop(tesla.index[0], inplace=True)

In [57]:
tesla.head()

,Date,Open,High,Low,Close,Volume
1,2025-01-02,390.1000061035156,392.7300109863281,373.0400085449219,379.2799987792969,109710700
2,2025-01-03,381.4800109863281,411.8800048828125,379.45001220703125,410.44000244140625,95423300
3,2025-01-06,423.20001220703125,426.42999267578125,401.70001220703125,411.04998779296875,85516500
4,2025-01-07,405.8299865722656,414.3299865722656,390.0,394.3599853515625,75699500
5,2025-01-08,392.95001220703125,402.5,387.3999938964844,394.94000244140625,73038800

In [58]:
tesla['Date'] = pd.to_datetime(tesla['Date'])
tesla['Open'] = tesla['Open'].astype(float)
tesla['High'] = tesla['High'].astype(float)
tesla['Low'] = tesla['Low'].astype(float)
tesla['Close'] = tesla['Close'].astype(float)
tesla['Volume'] = tesla['Volume'].astype(int)

In [59]:
tesla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 1 to 102
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    102 non-null    datetime64[ns]
 1   Open    102 non-null    float64
 2   High    102 non-null    float64
 3   Low     102 non-null    float64
 4   Close   102 non-null    float64
 5   Volume  102 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 4.9 KB

In [60]:
reddit = pd.read_csv('../../data/clean-data/cleaned_reddit.csv')
reddit.drop('Unnamed: 0', axis = 1, inplace = True)

In [61]:
reddit.head()

,score,subreddit,tickers_mentioned,date,clean_text,compound,sentiment
0,0,investing,NVDA,2025-05-30,sold hood and started positions in apple googl...,0.9289,positive
1,6,investing,NVDA,2025-05-29,semis not recovering despite new wave of ai sp...,-0.6887,negative
2,43,investing,NVDA,2025-05-27,nvidia earnings tomorrow the markets locomotiv...,0.7863,positive
3,122,investing,TSLA,2025-05-27,tsla why im still bullish despite the eps nose...,-0.7283,negative
4,26,investing,NVDA,2025-05-26,ive got called old fashion for investing in in...,0.7420,positive

In [64]:
reddit = reddit[reddit['tickers_mentioned'] == 'TSLA']

In [67]:
reddit['date'] = pd.to_datetime(reddit['date'])

In [68]:
tesla = tesla.sort_values('Date')
tesla['Date'] = tesla['Date'] - pd.Timedelta(days=1)

In [69]:
merged_df = pd.merge(reddit, tesla, left_on='date', right_on='Date', how='inner')
merged_df.drop('date', axis = 1, inplace = True)

In [70]:
merged_df.head()

,score,subreddit,tickers_mentioned,clean_text,compound,sentiment,Date,Open,High,Low,Close,Volume
0,122,investing,TSLA,tsla why im still bullish despite the eps nose...,-0.7283,negative,2025-05-27,365.290009,367.709991,356.000000,358.429993,88545700
1,460,investing,TSLA,financial professionals mostly arent paid to c...,-0.9714,negative,2025-04-30,284.899994,294.779999,279.809998,287.209991,114454700
2,0,investing,TSLA,is pltr or tsla a better position for ai growt...,-0.9093,negative,2025-04-29,280.010010,290.869995,279.809998,280.519989,99659000
3,0,investing,TSLA,quarterly revenue of tesla since the following...,-0.5994,negative,2025-04-26,288.980011,294.859985,272.420013,285.880005,151731800
4,623,wallstreetbets,TSLA,how fucked am i me wanting to be part of tslas...,-0.6597,negative,2025-05-27,365.290009,367.709991,356.000000,358.429993,88545700

In [73]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   score              21 non-null     int64
 1   subreddit          21 non-null     object
 2   tickers_mentioned  21 non-null     object
 3   clean_text         21 non-null     object
 4   compound           21 non-null     float64
 5   sentiment          21 non-null     object
 6   date               21 non-null     datetime64[ns]
 7   open               21 non-null     float64
 8   high               21 non-null     float64
 9   low                21 non-null     float64
 10  close              21 non-null     float64
 11  volume             21 non-null     int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(4)
memory usage: 2.1+ KB

In [72]:
merged_df.columns = merged_df.columns.str.lower()

In [75]:
merged_df.to_csv("../../data/merged-data/tesla-merged.csv")