In [26]:
import pandas as pd
from langdetect import detect, LangDetectException

In [3]:
data = pd.read_csv("/Users/aryagupta/Desktop/investor-pulse/data/headlines_scraped_unclean.csv")

In [6]:
data.drop('Unnamed: 0', axis = 1, inplace = True)

In [24]:
data.sample(5)

                                              headline        date company
242  ASX Market Open: Unsurprising Trump EU backdow...  2025-05-27    AAPL
304  Investigating Microsoft's Standing In Software...  2025-05-27    MSFT
96   C3.ai Eyes $47 Billion Agentic AI Market By 20...  2025-05-29   GOOGL
236  The Wild Ride of Informatica: 32 Years, 2 IPOs...  2025-05-28    MSFT
336  authID Announces its 2025 Board of Directors N...  2025-05-27    MSFT

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  394 non-null    object
 1   date      394 non-null    datetime64[ns, UTC]
 2   company   394 non-null    object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 9.4+ KB

In [10]:
data.duplicated(subset='headline').sum()

np.int64(107)

In [20]:
data['date'] = pd.to_datetime(data['date'])

In [23]:
data['date'] = data['date'].dt.date

In [25]:
data['headline']

0      Bill Nygren's Strategic Moves: Constellation B...
1      Market Today: Nvidia (NVDA) Leads AI Surge Ami...
2      ASX Market Open: Trump tariff appeal ruling bu...
3       Wall Street w górę po decyzji sądu w sprawie ceł
4       Wall Street w górę po decyzji sądu w sprawie ceł
                             ...
389    Tesla struggles in Europe as sales plunge 49% ...
390    YouTube CEO Neal Mohan Says The Streaming Gian...
391    Stock Market Today: Markets Rally as Trump Del...
392    Stock Market Today: Markets Rally as Trump Del...
393    Stock Market Today: Markets Rally as Trump Del...
Name: headline, Length: 394, dtype: object

In [27]:
def is_english(text):
    try:
        return detect(str(text)) == 'en'
    except (LangDetectException, TypeError):
        return False

data = data[data['headline'].apply(is_english)]

In [33]:
import re
import string


def clean_text(text):
    if pd.isnull(text):
        return ""

    # Convert to lowercase
    text = text.lower()

    # Remove URLs (http, https, www)
    url_pattern = r'https?://\S+|www\.\S+'
    text = re.sub(url_pattern, '', text)

    # Remove HTML tags
    html_pattern = r'<.*?>'
    text = re.sub(html_pattern, '', text)

    # Remove punctuation using string.punctuation
    # This includes !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
    text = text.translate(str.maketrans('', '', string.punctuation))

    # Remove any remaining non-alphanumeric characters (optional)
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)

    # Replace multiple spaces with a single space
    text = re.sub(r'\s+', ' ', text)

    # Strip leading/trailing whitespace
    text = text.strip()

    return text

data['cleaned_headline'] = data['headline'].apply(clean_text)

/var/folders/vr/nc9jvld12q115x_g_114k8g40000gn/T/ipykernel_90137/1657082807.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cleaned_headline'] = data['headline'].apply(clean_text)

In [36]:
data.drop('headline', axis =1 , inplace = True)

/var/folders/vr/nc9jvld12q115x_g_114k8g40000gn/T/ipykernel_90137/1868516238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop('headline', axis =1 , inplace = True)

In [39]:
data.to_csv('cleaned_headlines.csv')