In [1]:
import pandas as pd

In [13]:
google = pd.read_csv("/Users/aryagupta/Desktop/investor-pulse/data/GOOGL_daily_2025.csv")
google = google.drop(0)

In [14]:
google.head()

,Date,Open,High,Low,Close,Volume
1,2025-01-02,190.43067970164262,191.7791328258186,187.2843094002135,189.2120819091797,20370800
2,2025-01-03,191.14985143368122,192.9877463613902,189.76145103861666,191.56936645507812,18596200
3,2025-01-06,193.75684931380115,197.99197728329852,193.6270092243641,196.64352416992188,29563600
4,2025-01-07,196.8832529983184,200.7687774852745,194.37614589069548,195.26512145996094,26487200
5,2025-01-08,192.3484808074723,196.06418741382137,192.1586969389352,193.7268829345703,24864800

In [15]:
google.isna().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64