In [4]:
import yfinance as yf
import pandas as pd

In [5]:
tickers = ['TSLA', 'APPL', 'MSFT', 'GOOGL', 'AMZN']

start_date = '2025-01-01'
end_date = '2025-06-01'

stock_data = {}

for ticker in tickers:
    print(f"currently downloading {ticker}")
    data = yf.download(ticker, start = start_date, end = end_date)

    data = data[['Open', 'High', 'Low', 'Close', 'Volume']]

    data.reset_index(inplace = True)
    stock_data[ticker] = data

currently downloading TSLA
YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

currently downloading APPL

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['APPL']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-01-01 -> 2025-06-01)')

currently downloading MSFT

[*********************100%***********************]  1 of 1 completed

currently downloading GOOGL

[*********************100%***********************]  1 of 1 completed

currently downloading AMZN

[*********************100%***********************]  1 of 1 completed

In [7]:
for ticker, df in stock_data.items():
    df.to_csv(f"{ticker}_daily_2025.csv", index=False)

In [9]:
data = pd.read_csv("AMZN_daily_2025.csv")

In [10]:
data.sample(5)

,Date,Open,High,Low,Close,Volume
12,2025-01-21,228.89999389648438,231.77999877929688,226.94000244140625,230.7100067138672,39951500
26,2025-02-10,230.5500030517578,233.9199981689453,229.1999969482422,233.13999938964844,35419900
89,2025-05-12,210.7100067138672,211.66000366210938,205.75,208.63999938964844,75205000
67,2025-04-09,172.1199951171875,192.64999389648438,169.92999267578125,191.10000610351562,116804300
18,2025-01-29,239.02000427246094,240.38999938964844,236.14999389648438,237.07000732421875,26091700